.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 2em 10%;

  h1 {
    font-size: 3em;
    padding: 0;
    margin-bottom: 1rem;
  }
  p {
    padding: 1em;
    font-size: 18px;
    margin-top: 0;
  }

  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
      position: relative;
    z-index: 4;
    .one-project {
      position: relative;
      width: 32.6%;
      aspect-ratio: 4 / 3;
      //   height: auto;
      margin: 0.32%;
      border-radius: 18px;
      overflow: hidden;
      //   flex-grow: 1;
      &:hover .cover {
        opacity: 0.9;
        height: 100%;
        padding: 1em 0;
        border-radius: 18px;
      }
      &:hover .cover .project-link,
      &:hover .cover h1,
      &:hover .cover p {
        opacity: 1;
      }

      img {
        height: auto;
        max-width: 100%;
        object-fit: contain;
      }

      .cover {
        position: absolute;
        width: 100%;
        height: 2.5em;
        bottom: 0;
        background: linear-gradient(
          90.21deg,
          rgba(170, 54, 124, 1) -5.91%,
          rgba(74, 47, 189, 1) 111.58%
        );
        z-index: 1000;
        opacity: 1;
        transition: 0.35s ease-in-out;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h4 {
          font-size: 2em;
        }
        .project-link {
          width: 10em;
          height: 3em;
            background-color: black;
          border-radius: 25px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .project-link,
        p {
          opacity: 0;
        }
      }
    }
  }
}
