.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
  background-image: url("../../assets/img/footer-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .links-socials {
    display: flex;
    align-items: center;

    a {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      border: 1px solid white;
      margin: 0 5px;
      display: flex;
      justify-content: center;

      img {
        width: 50%;
      }
    }
  }
}
