.logo {
  &_heading {
    color: #fff;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
  }

  &_link {
    text-decoration: none;
  }
}

.social-link {
  // Nice hover animation -> fills the circle from middle
  &::before {
    content: "";
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    z-index: -1;
  }
  &:hover::before {
    transform: scale(1);
  }
  &:hover svg {
    color: #121212;
  }

  svg {
    height: 55%;
    color: #fff;
    stroke-width: 1.5px;
  }
}

.navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 10%;
  transition: 0.3s ease-in-out;

  &.scrolled {
    background-color: rgba($color: #121212, $alpha: 1);
    padding: 0.5em 10%;
    h1 {
      font-size: 40px;
    }
    .links-socials button {
      padding: 14px 30px;
      // background-color: red;
    }
  }

  // background-color: ;

  .logo {
    margin: auto 0;
  }

  .links {
    margin: auto 0;
    a {
      font-weight: 400;
      color: #fff;
      letter-spacing: 0.8px;
      padding: 0 25px;
      font-size: 18px;
      opacity: 0.75;
      text-decoration: none;
      &:hover {
        opacity: 1;
      }
    }
  }

  .links-socials {
    display: flex;
    align-items: center;

    .social-link {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      border: 1px solid white;
      margin: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 50%;
      }
    }

    button {
      font-weight: 700;
      border: 1px solid #fff;
      padding: 18px 34px;
      font-size: 18px;
      margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    button::before {
      content: "";
      width: 0%;
      height: 100%;
      position: absolute;
      background-color: #fff;
      left: 0;
      top: 0;
      z-index: -1;
      transition: 0.3s ease-in-out;
    }
    button:hover a {
      color: #121212;
    }
    button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}
